<p>Hola,</p>
<p>El usuario <strong>{{ usuario }}</strong> ha creado un nuevo proyecto.</p>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ nombre }}</td>
            <td>{{ cliente }}</td>
        </tr>
    </tbody>
</table>